* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.placeholder::placeholder {
    color: black;
    font-style: italic;
    text-align: center;
}

header {
    background-color: #a2ded7;
}

header img {
    width: 90px;
    padding-left: 30px;
    padding-top: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .itens-menu {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

header nav .itens-menu a {
    color: black;
    font-weight: bolder;
}

header .info {
    width: 100%;
    background-color: #058d8498;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    gap: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.index .topo {
    background-image: url("imagemcorpo.png");
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index .topo p {
    color: black;
    font-weight: bolder;
    font-size: 25px;
}

.index .corpo .titulo {
    color: #12B8AE;
    padding-top: 40px;
    text-align: center;
    font-size: 40px;
}

.index .corpo .part1 img {
    width: 250px;

}

.index .corpo .part1 {
    display: flex;
    padding-left: 70px;
    padding-top: 40px;
    font-size: 20px;
    justify-content: center;
    gap: 200px;
}

.index .corpo .part1 .t1 {
    color: #49A5AC;

}

.index .corpo2 .titulo2 {
    color: #12B8AE;
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.index .corpo2 .especialidades {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.index .corpo2 .especialidades .itens h3 {
    color: #4BC9D4;
}

.index .corpo2 .especialidades .itens img {
    padding-bottom: 20px;
}

.index .corpo2 .especialidades .itens {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px #cacaca;
}

.index .corpo3 .titulo3 {
    color: #12B8AE;
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.index .corpo3 .avaliacoes {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.index .corpo3 .avaliacoes .comentarios {
    width: 450px;
    height: 250px;
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    background-color: #D9D9D9;
}

.index .corpo3 .avaliacoes .comentarios img {
    max-width: 100%;
    margin-bottom: 20px;
}

.index .corpo3 .avaliacoes .comentarios p {
    font-weight: bolder;
}

.rodape {
    background-color: #A2DED7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.rodape img {
    width: 15%;
    padding-left: 30px;
    padding-top: 30px;
}

.rodape .direitos {
    margin-top: 140px;
    font-weight: bolder;
}

.rodape .item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape .info2 {
    padding-right: 50px;
}

.paciente .topo2 {
    background-image: url(imagemcorpo2.png);
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.paciente .topo2 p {
    margin-bottom: 45px;
    background: #12B8AE;
    text-align: center;
    font-size: 21px;
    color: #fff;
    padding: 17px;
    border-radius: 0 30px 30px 0;
}

.paciente .corpo p {
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #21625F;
    font-size: 40px;
}

.paciente .corpo form {
    background: #058D84;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 27px;
    max-width: 600px;
    border-radius: 20px;
}

.paciente .corpo form .grupo {
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.paciente .corpo form .grupo label {
    color: white;
}

.paciente .corpo form .grupo input {
    background-color: #08A39A;
    border-radius: 3px;
    border: none;
    padding: 10px;
    width: 100%;
}

.paciente .corpo form .grupo button {
    background-color: #12B8AE;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
}

.agendamento .topo2 {
    background-image: url(imagemcorpo2.png);
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.agendamento .topo2 p {
    margin-bottom: 45px;
    background: #12B8AE;
    text-align: center;
    font-size: 21px;
    color: #fff;
    padding: 17px;
    border-radius: 0 30px 30px 0;
}

.agendamento .corpo p {
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #21625F;
    font-size: 40px;
}

.agendamento .corpo form {
    background: #058D84;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 27px;
    max-width: 600px;
    border-radius: 20px;
}

.agendamento .corpo form .grupo {
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.agendamento .corpo form .grupo label {
    color: white;
}

.agendamento .corpo form .grupo input {
    background-color: #08A39A;
    border-radius: 3px;
    border: none;
    padding: 10px;
    width: 100%;
}

.agendamento .corpo form .grupo button {
    background-color: #12B8AE;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
}

.caes {
    background-color: #04726b7d;
}
.caes .corpo .pai {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.caes .corpo .topo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.caes .corpo .topo img { 
    width: 120px;
}

.caes .corpo .topo h1 {
    color: white;
    letter-spacing: 20px;
    font-size: 40px;
}

.caes .corpo .calculadora {
    background-color: #D9D9D9;
    height: 270px;
    width: 700px;
    border-radius: 90px;
}

.caes .corpo .calculadora p {
    font-weight: bolder;
    letter-spacing: 7px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.caes .corpo .calculadora .grupo {
    display: flex;
    justify-content: center;
}

.caes .corpo .calculadora .grupo input {
    border-radius: 20px;
    border: none;
    padding: 10px;
    height: 25px;
    width: 300px;
    margin-top: 20px;
}

.caes .corpo .calculadora .grupo button {
    margin-top: 35px;
    background: none;
    border: none;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
}

.caes .corpo .calculadora .resultado {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.gatos {
    background-color: #04726b7d;
}
.gatos .corpo .pai {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.gatos .corpo .topo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.gatos .corpo .topo img { 
    width: 60px;
}

.gatos .corpo .topo h1 {
    color: white;
    letter-spacing: 20px;
    font-size: 40px;
}

.gatos .corpo .calculadora {
    background-color: #D9D9D9;
    height: 270px;
    width: 700px;
    border-radius: 90px;
}

.gatos .corpo .calculadora p {
    font-weight: bolder;
    letter-spacing: 7px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gatos .corpo .calculadora .grupo {
    display: flex;
    justify-content: center;
}

.gatos .corpo .calculadora .grupo input {
    border-radius: 20px;
    border: none;
    padding: 10px;
    height: 25px;
    width: 300px;
    margin-top: 20px;
}

.gatos .corpo .calculadora .grupo button {
    margin-top: 70px;
    background: none;
    border: none;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
}

.gatos .corpo .calculadora .resultado {
    display: flex;
    justify-content: center;
}

.medicamento {
    background-color: #04726b7d;
}
.medicamento .corpo .pai {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.medicamento .corpo .topo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.medicamento .corpo .topo img { 
    width: 60px;
}

.medicamento .corpo .topo h1 {
    color: white;
    letter-spacing: 20px;
    font-size: 40px;
}

.medicamento .corpo .calculadora {
    background-color: #D9D9D9;
    height: 300px;
    width: 700px;
    border-radius: 90px;
}

.medicamento .corpo .calculadora p {
    font-weight: bolder;
    letter-spacing: 7px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.medicamento .corpo .calculadora .grupo {
    display: flex;
    justify-content: center;
}

.medicamento .corpo .calculadora .grupo input {
    border-radius: 20px;
    border: none;
    padding: 10px;
    height: 25px;
    width: 300px;
    margin-top: 20px;
}

.medicamento .corpo .calculadora .grupo button {
    margin-top: 60px;
    background: none;
    border: none;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
}

.medicamento .corpo .calculadora .resultado {
    display: flex;
    justify-content: center;
}

.soro {
    background-color: #04726b7d;
}
.soro .corpo .pai {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.soro .corpo .topo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.soro .corpo .topo img { 
    width: 60px;
}

.soro .corpo .topo h1 {
    color: white;
    letter-spacing: 20px;
    font-size: 40px;
}

.soro .corpo .calculadora {
    background-color: #D9D9D9;
    height: 300px;
    width: 700px;
    border-radius: 90px;
}

.soro .corpo .calculadora p {
    font-weight: bolder;
    letter-spacing: 7px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.soro .corpo .calculadora .grupo {
    display: flex;
    justify-content: center;
}

.soro .corpo .calculadora .grupo input {
    border-radius: 20px;
    border: none;
    padding: 10px;
    height: 25px;
    width: 300px;
    margin-top: 20px;
}

.soro .corpo .calculadora .grupo label {
    color: black;
    margin-top: 30px;
}

.soro .corpo .calculadora .grupo select {
    margin-top: 30px;
}

.soro .corpo .calculadora .grupo button {
    margin-top: 60px;
    background: none;
    border: none;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
}

.soro .corpo .calculadora .resultado {
    display: flex;
    justify-content: center;
}

.listacntt .topo2 {
    background-image: url(imagemcorpo2.png);
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.listacntt .topo2 p {
    margin-bottom: 45px;
    background: #12B8AE;
    text-align: center;
    font-size: 21px;
    color: #fff;
    padding: 17px;
    border-radius: 0 30px 30px 0;
}

.listacntt .corpo p {
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #21625F;
    font-size: 40px;
}



.listacntt .corpo .lista {
    width: 100%;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listacntt .corpo .lista .info {
    background-color: #058D84;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 30px;
    width: 300px;
}

.listacntt .corpo .lista .info p {
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 0px 0px 10px;
}

.listacntt .corpo .lista .info a {
    color: white;
    background-color: #76CCC2;
    border: 20px 20px solid #76CCC2;
    border-radius: 20px;
    padding: 20px 30px;
    display: block;
    width: 193px;
    margin: 19px auto;
    text-align: center;
}

.listacntt .btn-add {
    color: white;
    background-color: #76CCC2;
    border: 20px 20px solid #76CCC2;
    border-radius: 20px;
    padding: 20px 30px;
    display: block;
    width: 193px;
    margin: 19px auto;
    text-align: center;
}