<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilo.css">
    <title>Dog Dodói</title>
</head>
<body class="caes">

    <header>
        <nav>

            <img src="static/logo.png" alt="logo">

            <div class="itens-menu">
                <a href="/">Home</a>
                <a href="/agendamento">Agendar</a>
                <a href="/caes">Idade Cães</a>
                <a href="/gatos">Idade Gatos</a>
                <a href="/calcular_medicamento">Medicamentos</a>
                <a href="/calculosoro">Soro</a>
                <a href="/inserir_contato">Pacientes</a>
            </div>
        </nav>
        <div class="info">
            <p>✉ vetdogdodoi@gmail.com</p>
            <p>📍 Av. São Vicente 330- SP</p>
            <p>📞 11 99101-1010</p>
        </div>

    </header>

    <section class="corpo">
        <div class="topo">
            <h1>Calculadora</h1>

            <img src="/static/Rectangle 5.png" alt="">
        </div>

        <div class="pai">
            <div class="calculadora">

                <p>Cachorro</p>

                <form action="/calculadora_caes" method="post">

                    <div class="grupo">
                        <label for="idade_dog"></label>
                        <input class="placeholder" placeholder="INSIRA A IDADE DO SEU CACHORRO" type="number" id="idade_dog" name="idade_dog" required>
                    </div>

                    <div class="resultado">
                        <div id="idade_humano">
                            {% if idade_humano %}
                                {{ idade_humano }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="grupo">
                        <button type="submit">Calcular</button>
                    </div>

                </form>
            </div>
        </div>   
    </section>

    <footer class="rodape">

        <img src="/static/logo.png" alt="logo">
    
        <p class="direitos">© Todos os direitos reservados</p>
        
        <div class="info2">
            <p>📍 Av. São Vicente 330- SP</p>
            <p class="item">✉ vetdogdodoi@gmail.com</p>
            <p>📞 11 99101-1010</p>
        </div>
    </footer>

</body>
</html>
