<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Contato</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body class="editarcntt">

    <header>
        <nav>

            <img src="/static/logo.png" alt="logo">

            <div class="itens-menu">
                <a href="/">Home</a>
                <a href="/agendamento">Agendar</a>
                <a href="/caes">Idade Cães</a>
                <a href="/gatos">Idade Gatos</a>
                <a href="/calcular_medicamento">Medicamentos</a>
                <a href="/calculosoro">Soro</a>
                <a href="/inserir_contato">Pacientes</a>
            </div>
        </nav>
        <div class="info">
            <p>✉ vetdogdodoi@gmail.com</p>
            <p>📍 Av. São Vicente 330- SP</p>
            <p>📞 11 99101-1010</p>
        </div>

    </header>

    <section class="corpo">

        <p>Editar contato:</p>

        <form action="/editar_contato/{{ contato[0] }}" method="POST">

            <div class="grupo">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="{{ contato[1] }}">
            </div>

            <div class="grupo">
                <label for="pet">Nome do pet:</label>
                <input type="text" id="pet" name="pet" value="{{ contato[2] }}">
            </div>

            <div class="grupo">
                <label for="especie">Especie ou raça do pet:</label>
                <input type="text" id="especie" name="especie" value="{{ contato[3] }}">
            </div>

            <div class="grupo">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" value="{{ contato[4] }}">
            </div>

            <div class="grupo">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="{{ contato[5] }}">
            </div>

            <div class="grupo">
                <input class="button" type="submit" value="Salvar">
            </div>
        </form>
    </section>

    <footer class="rodape">

        <img src="/static/logo.png" alt="logo">
    
        <p class="direitos">© Todos os direitos reservados</p>
        
        <div class="info2">
            <p>📍 Av. São Vicente 330- SP</p>
            <p class="item">✉ vetdogdodoi@gmail.com</p>
            <p>📞 11 99101-1010</p>
        </div>
    </footer>
</body>
</html>