<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Dodói</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body class="index">


    <header>
        <nav>

            <img src="static/logo.png" alt="logo">

            <div class="itens-menu">
                <a href="/">Home</a>
                <a href="/agendamento">Agendar</a>
                <a href="/caes">Idade Cães</a>
                <a href="/gatos">Idade Gatos</a>
                <a href="/calcular_medicamento">Medicamentos</a>
                <a href="/calculosoro">Soro</a>
                <a href="/inserir_contato">Pacientes</a>
            </div>
        </nav>
        <div class="info">
            <p>✉ vetdogdodoi@gmail.com</p>
            <p>📍 Av. São Vicente 330- SP</p>
            <p>📞 11 99101-1010</p>
        </div>

    </header>

<section class="topo">

    <p class="text">"Dog Dodoi: Onde o carinho e a expertise se unem
        para  <br> cuidar da saúde e felicidade do seu melhor amigo
        peludo!"</p>

</section>

<section class="corpo">

    <h1 class="titulo">Conheça a Dog dodói!</h1>

    <div class="part1">

        <div>
            <p class="t1">Bem-vindo à Dog Dodoi, onde a paixão pela saúde dos seus <br> animais é nossa missão!<br><br> </p>
            <p>Em nosso espaço acolhedor, combinamos expertise veterinária <br> com um toque caloroso, garantindo que cada patinha receba <br> cuidados excepcionais. <br><br></p>
            <p>De exames preventivos a tratamentos dedicados, na Dog Dodoi, <br> seu companheiro de quatro patas é mais do que um paciente, <br> é parte da nossa família de bem-estar animal. <br><br></p>
            <p class="t1">Deixe-nos ser o lar onde o amor e a saúde se encontram, <br> criando memórias de bem- <br>
            -estar para toda a vida.</p>
        </div>


            <img src="/static/patas.png" alt="patas">

    </div>

</section>

<section class="corpo2">

    <p class="titulo2">Especialidades da nossa clínica</p>

    <div class="especialidades">
        <div class="itens">

            <img src="/static/bisturi.png" alt="">

            <h3>Cirurgia Veterinária</h3>

        </div>

        <div class="itens">

            <img src="/static/dente.png" alt="">

            <h3>Odontologia Veterinária</h3>

        </div>

        <div class="itens">

            <img src="/static/pele.png" alt="">

            <h3>Dermatologia Veterinária</h3>

        </div>
    </div>

</section>

<section class="corpo3">

    <p class="titulo3">Avalição de nossos clientes</p>

    <div class="avaliacoes">

        <div class="comentarios">

            <img src="/static/estrelas.png" alt="">

            <p>"Levei meu cãozinho na Dog Dodoi e fiquei encantada com o cuidado e atenção que receberam! A equipe é super dedicada e meu pet se sentiu tão confortável durante a consulta. Recomendo para todos os amantes de animais!" - Ana</p>

        </div>

        <div class="comentarios">

            <img src="/static/estrelas.png" alt="">

            <p>"Não troco a Dog Dodoi por nada! Sempre que preciso de cuidados veterinários para o meu gatinho, sei que posso confiar neles. Profissionalismo, amor pelos animais e um ambiente acolhedor fazem toda a diferença!" - Carlos</p>

        </div>

        <div class="comentarios">

            <img src="/static/estrelas.png" alt="">

            <p>"A Dog Dodoi foi um achado! Meu cachorro estava com um probleminha de saúde e eles resolveram tudo com tanta eficiência e cuidado. Agradeço imensamente pela dedicação da equipe!" - Mariana</p>

        </div>
    </div>
</section>

<footer class="rodape">

    <img src="/static/logo.png" alt="logo">

    <p class="direitos">© Todos os direitos reservados</p>
    
    <div class="info2">
        <p>📍 Av. São Vicente 330- SP</p>
        <p class="item">✉ vetdogdodoi@gmail.com</p>
        <p>📞 11 99101-1010</p>
    </div>
</footer>


</body>
</html>