<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contatos</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>

    <header>
        <nav>

            <img src="static/logo.png" alt="logo">

            <div class="itens-menu">
                <a href="/">Home</a>
                <a href="/agendamento">Agendar</a>
                <a href="/caes">Idade Cães</a>
                <a href="/gatos">Idade Gatos</a>
                <a href="/calcular_medicamento">Medicamentos</a>
                <a href="/calculosoro">Soro</a>
                <a href="/inserir_contato">Pacientes</a>
            </div>
        </nav>
        <div class="info">
            <p>✉ vetdogdodoi@gmail.com</p>
            <p>📍 Av. São Vicente 330- SP</p>
            <p>📞 11 99101-1010</p>
        </div>

    </header>

    <h1>Lista de Contatos</h1>
    
    <ul>
        {% for contato in contatos %}
        <li>{{ contato[1] }} - {{ contato[2] }} - {{ contato[3] }}- {{ contato[4] }}- {{ contato[5] }}
            <ul>
                <li><a href="/editar_contato/{{ loop.index0 }}">Editar</a></li> 

            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="/inserir_contato">Adicionar Contato</a> 

</body>
</html>