<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Agendas</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body class="listaagendamento">

    <header>
        <nav>

            <img src="static/logo.png" alt="logo">

            <div class="itens-menu">
                <a href="/">Home</a>
                <a href="/agendamento">Agendar</a>
                <a href="/caes">Idade Cães</a>
                <a href="/gatos">Idade Gatos</a>
                <a href="/calcular_medicamento">Medicamentos</a>
                <a href="/calculosoro">Soro</a>
                <a href="/inserir_contato">Pacientes</a>
            </div>
        </nav>
        <div class="info">
            <p>✉ vetdogdodoi@gmail.com</p>
            <p>📍 Av. São Vicente 330- SP</p>
            <p>📞 11 99101-1010</p>
        </div>

    </header>




    <h1>Lista de Agendas</h1>

    <ul>
        {% for consult in consulta %}
        <li>{{ consult[1] }} - {{ consult[2] }} - {{ consult[3] }}- {{ consult[4] }}- {{ consult[5] }} - {{ consult[6] }}
            <ul>
                <li><a href="/apagar_agendamento/{{ loop.index0 }}">Cancelar Consulta</a></li> 

            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="/inserir_agendamento">Adicionar agendamento</a>

</body>
</html>