<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Agendas</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body class="listaagendamento">

    <header>
        <nav>

            <img src="static/logo.png" alt="logo">

            <div class="itens-menu">
                <a href="/">Home</a>
                <a href="/agendamento">Agendar</a>
                <a href="/caes">Idade Cães</a>
                <a href="/gatos">Idade Gatos</a>
                <a href="/calcular_medicamento">Medicamentos</a>
                <a href="/calculosoro">Soro</a>
                <a href="/inserir_contato">Pacientes</a>
            </div>
        </nav>
        <div class="info">
            <p>✉ vetdogdodoi@gmail.com</p>
            <p>📍 Av. São Vicente 330- SP</p>
            <p>📞 11 99101-1010</p>
        </div>

    </header>

    <section class="topo2">

        <p class="text">"Na Dog Dodói, cuidamos do seu melhor amigo <br> com carinho e expertise!"</p>

    </section>

    <section class="corpo">

        <p>Lista de consultas</p>

        <div class="display">
            <div class="lista">

                {% for consult in consulta %}
                    <div class="info">
                        <p>Nome do tutor: {{ consult[1] }}</p>  
                        <p>- Nome do Animal: {{ consult[2] }}</p> 
                        <p>- Espécie: {{ consult[3] }}</p>
                        <p>- Data: {{ consult[4] }}</p>
                        <p>- Motivo da consulta: {{ consult[5] }}</p>
                        <p>- Telefone: {{ consult[6] }}</p>

                        <a href="/apagar_agendamento/{{ loop.index0 }}">Cancelar Consulta</a> 
                    </div>
                    {% endfor %}
            </div>


            <a href="/inserir_agendamento" class="btn-add">Adicionar agendamento</a>
        </div >
    </section>

</body>
</html>